body.light {
	background-color: white;
	color: #333333;
}

.light a, .light a:visited {
	color: blue;
}

.light input[type=checkbox],
.light input[type=text] {
	background-color: white;
	color: #333333;
  border-color: #969896;
}

.light #expiration.expired {
	color:#df5000;
}

.light #expiration.not-expired {
	color:#63a35c;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.light .hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.light .hljs-comment,
.light .hljs-meta {
  color: #969896;
}

.light .hljs-string,
.light .hljs-variable,
.light .hljs-template-variable,
.light .hljs-strong,
.light .hljs-emphasis,
.light .hljs-quote {
  color: #df5000;
}

.light .hljs-keyword,
.light .hljs-selector-tag,
.light .hljs-type {
  color: #a71d5d;
}

.light .hljs-literal,
.light .hljs-symbol,
.light .hljs-bullet,
.light .hljs-attribute {
  color: #0086b3;
}

.light .hljs-section,
.light .hljs-name {
  color: #63a35c;
}

.light .hljs-tag {
  color: #333333;
}

.light .hljs-title,
.light .hljs-attr,
.light .hljs-selector-id,
.light .hljs-selector-class,
.light .hljs-selector-attr,
.light .hljs-selector-pseudo {
  color: #795da3;
}

.light .hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.light .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.light .hljs-link {
  text-decoration: underline;
}
