@import 'node_modules/tachyons/css/tachyons';

body {
  @extend .f7, .code;
}

button {
  @extend .ph2, .bg-white, .outline-transparent, .pv1, .br-0, .ba;
  cursor: pointer;

  &:first-of-type {
    @extend .br--left, .br2;
  }

  &:last-of-type {
    @extend .br--right, .br2, .ba;
  }
}

.light {
  @import './node_modules/highlight.js/styles/github-gist';

  button {
    border-color: rgb(192, 192, 192);
    @media (hover:hover) {
      &:hover {
        background-color: #f4f4f4;
      }
    }

    &.active {
      color: #e66f00;
      border-color: rgb(192, 192, 192);
    }
  }
}
.dark {
  @import './node_modules/highlight.js/styles/atom-one-dark';
  $dark-color: #abb2bf;
  $dark-bgcolor: #282c34;
  background-color: $dark-bgcolor;
  color: $dark-color;

  input,
  button {
    background-color: $dark-bgcolor;
    color: $dark-color;
  }
  
  button {
    border-color: $dark-color;
    @media (hover:hover) {
      &:hover {
        background-color: #555555;
      }
    }
    &.active {
      color: #e2e2e2;
      border-color: $dark-color;
    }
  }
    
  a {
    color: #56b6c2;
    text-decoration: none;
  }
}

.fade-out {
  animation: fade-out 0.5s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
