body,
h1, h2, h3, h4, h5, h6,
pre, code,
blockquote,
em, strong {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
	font-family: monospace;
	max-width: 80ch;
  color: #333333;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6,
pre, code,
blockquote,
ol, ul, li,
p, section,
header, footer {
  float: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 20px;
}

ul, ol,
pre,
blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
	font-weight: bold;
  margin: 0;
  overflow: hidden;
}

h1 + * {
  margin-top: 0;
}

h1:before {
  content: "# ";
  display: inline;
}


li {
  position: relative;
  display: block;
  padding-left: 2ch;
}

li:after {
  position: absolute;
  top: 0;
  left: 0;
}

ul > li:after {
  content: "*";
}

ol {
  counter-reset: ol;
}

ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}

pre {
  margin-left: 34px;
  padding-left: 4ch;
}

blockquote {
  position: relative;
  padding-left: 4ch;
  overflow: hidden;
}

blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}

strong:before,
strong:after {
  content: "__";
  display: inline;
}

em:before,
em:after {
  content: "*";
  display: inline;
}

a, a:visited {
  text-decoration: none;
	color: #333333;
}

code:before,
code:after {
  content: "`";
  display: inline;
}

pre code:before,
pre code:after {
  content: none;
}

hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}

hr:after {
  content: "~~~ EOM ~~~";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
	color:silver;
}

@-moz-document url-prefix() {
  .markdown h1 {
    display: block;
  }
}

.markdown-ones ol > li:after {
  content: "1.";
}
